.habit {
  .dateItem {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 235, 240);
    width: 28px;
    height: 28px;
  }

  .checkedItem {
    background-color: var(--semi-color-primary);
    color: white;
  }
  .today {
    height: 2px;
    width: 2px;
    content: "";
    display: block;
    bottom: -8px;
    margin-top: 4px;
    background-color: red;
  }
}
