@tailwind base;
@tailwind components;
@tailwind utilities;

.color-scale {
    fill: var(--semi-color-primary);
}

.react-calendar-heatmap-weekday-labels {
    margin-right: 8px;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 20px;
}
:root {
    --c-bg: transparent;
    --c-scrollbar: #bbb;
    --c-scrollbar-hover: #bbb;
}


* {
    scrollbar-color: var(--c-scrollbar) var(--c-bg);
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: var(--c-bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c-scrollbar-hover);
}